.body {
    margin: 0px;

    background-color: lightblue;
}

.mainHeader {
    text-align: center;
}

/* Menubar style along with sub elements */
.menuBar {
    text-align: justify;
    min-width: 500px;
}
.menuBar div {
    float: left;
    width: 33%;
    text-align: center;

    border-style: groove;
}

.menuItem {
    padding: 5px;
}

.dropDownItems {
    position: absolute;
    display: none;
}

.dropDownItem {
    display: block;
    width: auto;
}
