.body {
    margin: 0px;

    background-color: lightblue;
}

/* Menubar style along with sub elements */
.menuBar {
    display: inline-block;
    
    width: 100%;
    margin: 0 auto;
}
.menuBar div {
    float: left;

}

.menuItem {
    padding: 5px;
}
